{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Welcome on Space Agency</h1>
            <p>First space travel agency in the world</p>
        </div>
    </div>
{% endblock %}