{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Space Agency's offers</h1>
            <p>Buy your space house here !</p>
        </div>
    </div>
{% endblock %}